<div class="col-md-10 p-5">
  <h3>Categories</h3>
  <hr />
  <a href="/add-category" class="btn btn-primary" style="float: right"
    >Add Category</a
  >
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center">
        <th class="col-md-1" scope="col">No</th>
        <th class="col-md-4" scope="col">Category</th>
        <th class="col-md-2" colspan="2" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i=0; i < category.length; i++) { %>
      <tr>
        <th class="text-center" scope="row"><%= i+1 %></th>

        <td><%= category[i].categoryName %></td>

        <td class="text-center">
          <a href="/category/update/<%= category[i].id %>" class="btn btn-success"
            >Edit</a
          >
          <a href="/category/delete/<%= category[i].id %>" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
